{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('welcome')}}">Pneumonia app</a>
        </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-text"><a href="{{ url_for('welcome')}}">Home</a></li>
          <li class="navbar-text"><a href="{{ url_for('searchPatient') }}">Search for a patient</a></li>
          <li class="navbar-text"><a href="{{ url_for('addPatient') }}">Add a patient</a></li>
          <li class="navbar-text"><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </div>
  </div>
</nav>

<div class="container center_div">
  <h1 class="text-center well-lg"> {{title}} </h1>

  <div class="text-center well-lg" style="display: grid; ">
    <label> Patient name:</label>  {{ patient.patientName }} <br><br>
    <label> Patient Symptoms:</label>  {{ patient.patientSymptoms }} <br><br>
    <label> Patient DoB:</label>  {{ patient.dob }} <br><br>
    <label> Doctor:</label>{{ doctor.username }}
  </div>
 <br><br>
<h2 class="text-center"> Edit patient symptoms </h2> <br/>
    <form action = '' method='post'>

      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.patientSymptoms) }}

      <button class="btn btn-lg btn-primary btn-block" type="submit"> Confirm new patient symptoms </button>
    </form>

</div>
{% endblock %}
