{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('welcome')}}">
            <img src="{{url_for('static', filename='Images/logoResized.png')}}" width="90em" height="90em" class="margin: 0;" alt="Pneumonia App">
          </a>
        </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-text"><a href="{{ url_for('welcome')}}">Home</a></li>
          <li class="navbar-text"><a href="{{ url_for('searchPatient') }}">Search for a patient</a></li>
          <li class="navbar-text"><a href="{{ url_for('addPatient') }}">Add a patient</a></li>
          <li class="navbar-text"><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </div>
  </div>
</nav>

<div class="container-fluid center_div">
<h1 class="text-center well-lg"> Welcome {{name}}! </h1>

</div>
{% endblock %}
